
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=8000

DB_CONNECTION=mysql
DB_DATABASE=backend_app_ts
DB_USERNAME=root
DB_PASSWORD=password
DB_PORT=3306

DATABASE_URL="${DB_CONNECTION}://${DB_USERNAME}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_DATABASE}"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}

JWT_SECRET=secret
JWT_REFRESH_SECRET=refresh_secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

EXTERNAL_API_URL=https://catfact.ninja/fact